<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.Pizza.Id. @ViewBag.Pizza.Name</h5>
                <p class="card-text">Pizza size: @ViewBag.Pizza.PizzaSize</p>
                <p class="card-text">Pizza price: $@ViewBag.Pizza.Price</p>
                <a asp-controller="Pizza" asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>