@model PizzaViewModel

<h3>Add new pizza</h3>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <partial name="~/Views/Shared/Partial/_PizzaForm.cshtml" for="@Model" />
        </form>
    </div>
</div> 
