@model PizzaDetailsViewModel

<div class="row mt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div>Name: @Model.Id. @Model.Name</div>
                <div>Size: @Model.PizzaSize</div>
                <div>Price: $@Model.Price</div>
            </div>
        </div>
    </div>
</div>
